.trangsanpham{
    display: flex;
}

.menuphu{
    width: 25%;
    margin-right: 20px;
}

.menuchinh{
    width: 75%;
}
.title {
    background: #EF7123;
}

.title a {
    color: white;
    padding-left: 15px;
    font-size: 20px;
}   

.title a, .box a {
    text-decoration: none;
}

.book-name {
    color: black;
}

.book-price {
    color: #EF7123;
    font-style: italic;
}

.book-item img {
    width: 100%;
    transition: 0.5s;
}

.book-item img:hover {
    transform: scale(1.1);
}

.box {
    border: 0.5px solid #ede3e3;
    margin-bottom: 5px;
    padding: 10px;
}

/*phần chính*/
.menuchinh h2 {
    background: #EF7123;
    color: white;
    padding-left: 15px;
}

.colSP {
    display: inline-flex;
    border: 0.5px solid #ede3e3;
    margin-bottom: 5px;
    width: 30%;
    transition: 0.7s linear;
}

.colSP img{
    width: 100%;
    margin: 20px 0;
}

.colSP img:hover{
    transform: scale(1.1);
}